/* Textarea */

textarea {
    width: 100%;
    resize: none;
    padding: 15px;
    font-size: 16px;
    font-family: "Inter", sans-serif;

    color: #F8FAFC;
    background: #0F172A;

    border: 1px solid #334155;
    border-radius: 12px;

    outline: none;
    margin-top: 10px;

    transition: all 0.3s ease;
}

textarea::placeholder {
    color: #94A3B8;
}

textarea:focus {
    border-color: #2563EB;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

/* Footer */

.message-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

/* Button */

.message-footer button {
    background: #2563EB;
    color: #F8FAFC;

    border: none;
    border-radius: 12px;

    padding: 12px 25px;

    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

    cursor: pointer;

    transition: all 0.3s ease;
}

/* Hover */

.message-footer button:hover:not(:disabled) {
    background: #1D4ED8;
    transform: translateY(-2px);
}

/* Active */

.message-footer button:active {
    transform: scale(0.98);
}

/* Disabled */

.message-footer button:disabled {
    background: #334155;
    color: #94A3B8;
    cursor: not-allowed;
    transform: none;
}